.user-profile {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: gray;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 5px;
  }
  
  .logout-btn {
    padding: 10px 20px;
    background-color: #ff5757;
    margin: "5px";
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  .logout-btn:hover {
    background-color: #e60000;
  }
  
  .edit-btn {
    padding: 10px 20px;
    background-color: "blue";
    opacity: 0.6;
    margin: "5px";
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  .edit-btn:hover {
    opacity: 1;
  }